@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", sans-serif;
  background-color: rgba(235, 234, 234);
}

header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color:rgba(235, 234, 234);
    color: #e40d717e;
    align-items: center;
    
}

#logo-img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#links a {
    text-decoration: none;
    color: #e40d717e;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

#links a:hover {
    border-bottom: 3px solid #d5116c7e;
    color: #d5116c7e;
    transform:scale(1.1);
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgb(255, 154, 206);
}

#carousel img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

#main-new {
    width: 70%;
    background-color:rgb(219, 215, 215);
    margin: 20px auto;
    padding: 20px;
}

#aside {
    width: 28%;
    background-color: rgb(219, 215, 215);
    margin: 20px;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-around;
}
